{{> head }}
   
   {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>En Máquinas</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates vero, dolores repellat nam animi ut rem quos obcaecati quaerat corrupti sunt laborum quia quisquam similique deleniti architecto blanditiis earum. Vel?
        </p>
    </div>

    <div class="col-4">
        <img src="assest/img/1.jpg" class="img-thumbnail">
    </div>

</div>


    {{> footer }}